<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/css/billetterie.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
</head>
<body>
    <h1>Panier</h1>
    <div class="scenarios">
        <span th:if="${error}" class="red">Une erreur est survenue lors du paiement</span>
        <p>Montant :<span th:text="${amount}"><strong>Montant :</strong> ${amount} €</span> €</p>
    </div>
</body>
</html>
